@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .is-sticky {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }

  .color-green-lemon {
    filter: invert(84%) sepia(20%) saturate(530%) hue-rotate(112deg) brightness(200%) contrast(95%);
  }

  .border-green-lemon {
    border-bottom: 1px solid #83ff97;
  }

  .border-green-lemon-2px {
    border-bottom: 2px solid #83ff97;
  }

  .Noe-Display-Font {
    font-family: 'Noe-Display-Font';
  }

  .Maax-Bold-Font {
    font-family: 'Maax-Bold-Font';
  }

  .Maax-Regular-Font {
    font-family: 'Maax-Regular-Font';
  }

  .arrow-icon::after {
    content: "↗";
    display: inline-block;
    margin-left: 5px;
    vertical-align: baseline;
  }

  .grid-template {
    grid-template-columns: 16.66667% 16.66667% 25% 1fr;
  }

  input[type='radio'] {
    appearance: none;
    border: 2px solid #000;
    outline: none;
    box-shadow: 0 0 1px 0px #000 inset;
  }

  input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }

  input[type='radio']:checked:before {
    background: #83ff97;
  }
 
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}